<div class="container">
<h2>View 3</h2>
	Name:
	<br />
	<input type="text" data-ng-model="name" />
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter:name | orderBy:'city'"> {{ cust.name }} - {{cust.city | uppercase }}  </li>
	</ul>
	<br />
	Customer Name:<br />
	<input type="text" data-ng-model="newCustomer.name" />
	<br />
	Customer City:<br />
	<input type="text" data-ng-model="newCustomer.city" />
	<br />
	<button data-ng-click="addCustomer()">Add Customer</button>
	<br />
	<a href="#/view4">View 4</a>
</div>
